/Footer
#ribbon_small
.mdc-footer
  .mdc-footer__links
    = link_to '#', title: 'Youtube', target: '_blank' do
      = fa('youtube')
    = link_to '#', title: 'Facebook', target: '_blank' do
      = fa('facebook')
    = link_to 'https://github.com/do7ham', title: 'Github', target: '_blank' do
      = fa('github')
    = link_to '#', title: 'Twitter', target: '_blank' do
      = fa('twitter')
  .mdc-footer__copyright
    Made with #{fa('heart')} in Bochum
